.body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  margin-top: -1px;
  overflow: hidden;
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  background: #5bbcff;
  width: 100%;
  margin-bottom: -1px;
  padding-left: 10%;
  padding-right: 10%;
}

.left {
  min-width: 50%;
}

.center {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.right {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picture {
  width: 45%;
  height: auto;
  margin: 1rem;
  border-radius: 15px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.accordion {
  width: 100%;
  padding-top: 1rem;
}

.item {
  margin-bottom: 0.5rem;
}

.icon {
  color: yellow;
}

.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 0.3rem;
  cursor: pointer;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.question:hover {
  color: #5bbcff;
}

.answerShow {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 0.3rem;
  animation: animated 0.3s ease-in-out;
  color: white;
}

@keyframes animated {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.answerHide {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .right {
    display: none;
  }
  .center {
    padding-left: 0;
  }
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .picture {
    height: 30vh;
    width: auto;
  }
  .accordion {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .left {
    display: none;
  }
}

.customShape {
  bottom: 0;
  height: 6vh;
  left: 0;
  width: 100vw;
  overflow: hidden;
  border: none;
  background: #5bbcff;
}

.customShape svg {
  position: relative;
  display: block;
  width: 250%;
  height: 101%;
  transform: rotateY(180deg);
}

.customShape .fill {
  fill: white;
}
