.body {
  min-height: max-content;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitleBox {
  width: 100%;
  display: flex;
  padding-left: 1rem;
}

.subtitle {
  font-size: clamp(2rem, 8vw, 80px);
  font-weight: bold;
  color: #5bbcff;
}

.image {
  height: 30vh;
  width: 100%;
  background-image: url("../../../../public/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.arrowsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.arrowsBox span {
  font-size: clamp(1rem, 2vw, 30px);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.scroll {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  width: 100vw;
}

.scroll::-webkit-scrollbar {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #5bbcff;
}

.scrollBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  min-width: 30%;
}

.scrollImage {
  width: 30%;
  height: auto;
}

.scroll span {
  text-align: justify;
}

@media (max-width: 1200px) {
  .image {
    height: 20vh;
    width: 90%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .scrollBox {
    min-width: 95%;
  }
  .scroll span {
    font-size: small;
  }
}
